{% extends "core/base.html" %}

{% block content %}

<div class="card">

    <h1>Delete Project</h1>

    <p>
        Are you sure you want to delete
        <strong>{{ project.title }}</strong>?
    </p>

    <p>This action cannot be undone.</p>

    <form method="POST">
        {% csrf_token %}

        <button type="submit">
            Yes, Delete Project
        </button>

        <a href="{% url 'project_detail' project.pk %}">
            Cancel
        </a>
    </form>

</div>

{% endblock %}